.app-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Optional: Adjust the gap between buttons */
}

.button-container > .action {
  margin-left: 10rem;
  margin-bottom: 2rem;
  width: 20rem;
  height: 4rem;
}
